body {
    background-image: url(../images/batman.jpg);
    background-size: 25%;
}
h1 {
    margin-top: 10%;
    text-align: center;
    color: silver;
    font-size: 50px;
    font-weight: bold;
}

button {
	width: 80%;
	height: 40px;
	margin: 0 10%;
    float: left;
    background-color: transparent;
    border: none;
    font-size: 25px;
    color: silver;
}

button.answerchoice {
	display: none;
}

button:hover {
	background-color: yellow;
	
}

.answers div {
	margin: 0 auto;
}

img {
	height: 200px;
	width: auto;
}

h2, h3, .question {
    margin-top: 100px;
    text-align: center;
    color: yellow;
    font-size: 25px;
}
#startButton {
    background: yellow;
    color: black;
    font-weight: bold;
    width: 25%;
    margin-left: 37.5%;
}
.music {
    float: right;
    background: transparent;
    height: 55px;
    width: 350px;
}